.nav-link {
  height: 100%;
  cursor: pointer;
  /* min-width: 90px; */
  box-sizing: content-box;
}

.nav-separator {
  content: "";
  display: block;
  margin: 0 10px;
  background-color: rgba(var(--white-primary-rgb-values), 0.5);
  width: 1px;
  height: 50%;
}

.nav-link .general-icon {
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
  color: var(--white-primary);
  text-decoration: none;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-link .general-icon.active {
  filter: brightness(0) saturate(100%) invert(70%) sepia(32%) saturate(982%)
    hue-rotate(355deg) brightness(90%) contrast(96%);
}

.nav-link img {
  max-height: 1.2rem;
  margin: 5px;
}

.nav-link img.svg-icon {
  max-height: 1.4rem;
}

@media screen and (max-width: 1280px) {
  .nav-link {
    width: 100% !important;
    min-width: 0;
  }
  
  .nav-link .general-icon {
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 0.7rem 0;
    width: 100%;
  }

  .nav-link .general-icon.active {
    background: rgba(0, 0, 0, 0.1);
  }

  .nav-link img {
    max-height: 1.2rem;
  }

  .nav-separator {
    display: none;
  }
}
