.nav-auth {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;

  color: var(--white-primary);
  background-color: var(--yellow-primary);
  border: none;
  border-radius: 5px;

  display: block;
  padding: 8px 12px;
  margin-right: 2rem;

  outline: none;
  transition: 0.3s ease;
  white-space: nowrap;
  cursor: pointer;
}

.nav-auth:hover {
  box-shadow: 0 0 10px var(--yellow-primary);
}

.nav-auth img {
  max-height: 1rem;
  cursor: pointer;
  border-radius: 1px;
  position: relative;
  bottom: -2px;
  margin-right: 5px;
}

@media screen and (max-width: 1280px) {
  .nav-settings {
    width: 100%;
    margin-bottom: 5rem;
  }

  .nav-settings li {
    width: 100%;
    height: auto;
  }

  .nav-auth {
    transition: none;
    line-height: 0;
    font-size: 0;
    padding: 0;
    background: transparent;
    margin: 0;
    width: 100%;
  }

  .nav-auth:hover {
    box-shadow: none;
  }

  .nav-auth img {
    display: block;
    max-height: 25px;
    margin: 0 auto;
    filter: opacity(0.5) drop-shadow(0 0 0 #b3b3b4);
  }

  .nav-auth img:hover {
    filter: brightness(0) saturate(100%) invert(70%) sepia(32%) saturate(982%)
      hue-rotate(355deg) brightness(90%) contrast(96%);
  }
}
