.message {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: "Roboto";
}

.message-author {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.message-avatar {
  /* min-width: 32px; */
  min-width: 36px;
  /* min-height: 32px; */
  min-height: 36px;
  background: gray;
  position: relative;
  border-radius: 50%;
  z-index: 5;
}

.message-avatar img {
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  z-index: 10;
}

.user-level {
  z-index: 15;
  position: absolute;
  left: 7px;
  transform: translateX(-50%);
  bottom: -2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  /* padding: 2px 3px; */
  /* line-height: 12px; */
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
  background: gray;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.author-name {
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
  color: rgba(var(--white-primary-rgb-values), 0.8);
}

.message-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.message-timestamp {
  color: rgba(var(--white-primary-rgb-values), 0.8);
  font-size: 10px;
  min-width: 34px;
  text-align: center;
  margin-right: 4px;
}

.message-text {
  max-width: 80%;
  position: relative;
  left: 6px;
  top: -10px;
  color: var(--chat-message-text);
  font-size: 13px;
  line-height: 18px;
  overflow-wrap: break-word;
}