.bet-card {
  width: 24%;
  height: 500px;
  font-family: 'Roboto';
  padding-bottom: 10px;
  position: relative;
}

.bet-card .hover-dark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: 20;
  transition: 0.2s ease;
}

.bet-card.disabled .hover-dark {
  opacity: 1;
  cursor: not-allowed;
}

/* Bets border down */
.bet-card.gray .bet-card__bets {
  border-bottom: 3px solid var(--casino-gray);
}

.bet-card.red .bet-card__bets {
  border-bottom: 3px solid var(--casino-red);
}

.bet-card.blue .bet-card__bets {
  border-bottom: 3px solid var(--casino-blue);
}

.bet-card.yellow .bet-card__bets {
  border-bottom: 3px solid var(--casino-yellow);
}

/* Bets bordertop */
.bet-card.gray .player-bet:first-child {
  border-top: 3px solid var(--casino-gray) !important;
}

.bet-card.red .player-bet:first-child {
  border-top: 3px solid var(--casino-red) !important;
}

.bet-card.blue .player-bet:first-child {
  border-top: 3px solid var(--casino-blue) !important;
}

.bet-card.yellow .player-bet:first-child {
  border-top: 3px solid var(--casino-yellow) !important;
}

/* Bet Card's Title background colors */

.bet-card.gray .bet-card__title {
  background-color: var(--casino-gray);
}

.bet-card.red .bet-card__title {
  background-color: var(--casino-red);
}

.bet-card.blue .bet-card__title {
  background-color: var(--casino-blue);
}

.bet-card.yellow .bet-card__title {
  background-color: var(--casino-yellow);
}

.bet-card.gray .player-bet,
.bet-card.gray .cash-icon {
  color: var(--casino-gray);
  fill: var(--casino-gray);
}

.bet-card.red .player-bet,
.bet-card.red .cash-icon {
  color: var(--casino-red);
  fill: var(--casino-red);
}

.bet-card.blue .player-bet,
.bet-card.blue .cash-icon {
  color: var(--casino-blue);
  fill: var(--casino-blue);
}

.bet-card.yellow .player-bet,
.bet-card.yellow .cash-icon {
  color: var(--casino-yellow);
  fill: var(--casino-yellow);
}

@media screen and (max-width: 1000px) {
  .bet-card {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }
}
