.wheel-bets {
  width: 98%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .wheel-bets {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 1000px) {
  .wheel-bets {
    flex-direction: column;
    margin-top: -30px;
    margin-bottom: 0;
  }
}