.main-section {
  width: 100%;
  margin: 0;
  transition: 0.3s ease;
  padding-top: var(--nav-height);
}

.main-section main {
  padding: 0 2rem;
}

.chat-push {
  margin-left: var(--chat-width);
  width: calc(100% - var(--chat-width));
}

@media screen and (max-width: 1280px) {
  .main-section {
    padding-top: 1rem;
    margin-left: var(--nav-width);
    width: calc(100% - var(--nav-width));
  }
}

@media screen and (max-width: 568px) {
  .main-section main {
    padding: 0;
  }
}