/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/flama-medium'); */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('./fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Flama Medium';
  font-weight: normal;
  src: url('./fonts/flama-medium/FlamaMedium-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  src: url('./fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('./fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('./fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: url('./fonts/oswald/Oswald-Regular.ttf') format('truetype');
}

:root {

  /* gray-theme */
  /* --theme-color: 0, 0%;
  --blue-dark: hsl(var(--theme-color), 15%);
  --blue-darker: hsl(var(--theme-color), 12%);
  --blue-darkest: hsl(var(--theme-color), 8%);
  --bg-primary: hsl(var(--theme-color), 14%); */
  /* --yellow-primary: #c9291d; */

  /* blue-theme */
  --theme-color: 244, 25%;
  --blue-dark: hsl(var(--theme-color), 23%);
  --blue-darker: hsl(var(--theme-color), 20%);
  --blue-darkest: hsl(var(--theme-color), 13%);
  --bg-primary:  hsl(var(--theme-color), 25%);
  --yellow-primary: #e2a128;

  /* --blue-dark: #2e2c49;
  --blue-darker: #282641;
  --blue-darkest: #1a182e; */
  /* --bg-primary: #33314d; */


  --white-primary: rgb(235, 235, 235);
  --white-primary-rgb-values: 235, 235, 235;
  --white-faded: rgba(var(--white-primary-rgb-values), 0.6);
  --white-faded-important: rgba(var(--white-primary-rgb-values), 0.8);

  --white-shiny: rgb(255, 255, 255);

  --chat-message-text: rgb(173, 173, 173);

  --danger-primary: rgb(255, 101, 101);

  --nav-width: 4rem;
  --nav-height: 55px;

  --chat-width: 250px;

  --casino-gray: #5c5c5c;
  --casino-red: #cf3248;
  --casino-blue: #3caed3;
  --casino-yellow: #ffb744;
}

:root::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

:root::-webkit-scrollbar-track {
  background-color: var(--blue-darker);
}

:root::-webkit-scrollbar-thumb {
  background: var(--yellow-primary);
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: var(--bg-primary);
  color: rgb(236, 236, 236);
}

main {
  background-image: url(./assets/img/waves/wave-1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

svg {
  height: auto;
}

.emphasize {
  color: var(--yellow-primary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-icon:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(32%) saturate(982%)
    hue-rotate(355deg) brightness(90%) contrast(96%);
}

.no-scroll {
  overflow: hidden;
}

.welcome-message {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgba(var(--white-primary-rgb-values), 0.8);
}

.welcome-message span {
  color: var(--yellow-primary);
  font-weight: bold;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url('./assets/img/games-related/wheel.png')
    url('./assets/img/games-related/indicator-icon.svg')
    url('./assets/img/games-related/timer-icon.svg');
}

.wave {
  fill: var(--blue-darkest) !important;
}

/* Avatar colors */
.lvl-1 {
  background: #4a4a4a !important;
}

.lvl-10 {
  background: #4a4a4a !important;
}

.lvl-20 {
  background: #a09f9f !important;
}

.lvl-30 {
  background: #a09f9f !important;
}

.lvl-40 {
  background: #d19f69 !important;
}

.lvl-50 {
  background: #d19f69 !important;
}

.lvl-60 {
  background: #fad84e !important;
}

.lvl-70 {
  background: #fad84e !important;
}

.lvl-80 {
  background: #f3ac3b !important;
}

.lvl-99 {
  background: #f3ac3b !important;
}
