.wheel-timer-wrapper {
  position: absolute;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 20;

  font-family: "Proxima Nova", "Open Sans";
  font-size: 1.2rem;
  font-weight: bold;
}

.wheel-timer {
  height: 1.4rem;
  margin: 15px 0 0 18px;

  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wheel-timer img {
  height: 150%;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .wheel-timer-wrapper {
    font-size: 1rem;
  }

  .wheel-timer {
    height: 1.2rem;
    font-size: 1.2rem;
    margin-left: 12px;
  }
}
