.user-menu {
  padding: 0 10px;
  height: 40px;
  background-color: var(--blue-darker);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
  position: relative;
}

.user-menu:hover {
  background-color: var(--blue-darkest);
}

.nav-avatar {
  height: 30px;
  width: 30px;
  background: gray; /* default fallback */
  margin-right: 10px;
  position: relative;
  border-radius: 50%;
  z-index: 20;
}

.nav-avatar img {
  border-radius: inherit;
  max-height: 26px;
  max-width: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 130;
}

.nav-avatar__level {
  z-index: 135;
  position: absolute;
  left: 3px;
  bottom: -2px;  
  transform: translateX(-50%);
  padding: 2px 3px;
  line-height: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  background: gray;
  color: var(--white-primary);
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.toggle-user-icon {
  width: 10px;
  transform: rotate(90deg);
  transition: 0.2s ease;
}

.toggle-user-icon.invert {
  transform: rotate(270deg);
}

.user-menu__options {
  width: 150px;
  position: absolute;
  right: 0;
  top: 150%;

  opacity: 0;
  background-color: var(--blue-darkest);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  z-index: 30;

  animation: fade-in 0.2s ease forwards;
}

.user-menu__options ul {
  width: 100%;
  border-radius: inherit;
}

.user-menu__options li {
  font-size: 0.9rem;
  padding: 10px;
  width: 94%;
  margin: 3%;
  cursor: pointer;
  color: var(--white-faded-important);
  border-radius: inherit;
}

.user-menu__options li[data-signout] {
  color: var(--casino-red);
}

.user-menu__options li:hover {
  background-color: var(--blue-darker);
}

.user-menu__options li img {
  max-height: 15px;
  position: relative;
  top: 3px;
  margin-right: 8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .user-menu {
    margin: 0;
  }

  .user-menu__options {
    width: 333px;
  }
}

@media screen and (max-width: 440px) {
  .user-menu {
    width: 230px;
  }

  .user-menu__options {
    width: 100%;
    top: 130%;
  }
}