.auth-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0rem;
  width: 50%;
}

.auth-title p {
  color:rgba(var(--white-primary-rgb-values), 0.6);
  margin: 0;
  pointer-events: none;
  font-size: 0.8rem;
}

.auth-title p::before {
  content: '';
  width: 5px;
  height: 1px;
  background: rgba(var(--white-primary-rgb-values), 0.5);
  display: inline-block;
  margin: 0 5px 0 10px;
}

.auth-title p::after {
  content: '';
  width: 5px;
  height: 1px;
  background: rgba(var(--white-primary-rgb-values), 0.5);
  display: inline-block;
  margin: 0 10px 0 5px;
}

.auth-title button {
  background: transparent;
  color: var(--white-primary);
  border: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova', sans-serif;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  padding: 0; 
}

.auth-title button.active {
  color: var(--yellow-primary);
}

.auth-title button.active::after {
  content: '';
  display:inline-block;
  height: 1px;
  background-color: var(--yellow-primary);
  box-shadow: 0 0 10px var(--yellow-primary);
  position: absolute;
  bottom: -5px;
  left: 1px;
  animation: underline-expand 0.3s ease forwards;
}

@keyframes underline-expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media screen and (max-width: 566px) {
  
}