.auth {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../assets/img/waves/wave-2.svg);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.auth-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.auth-close img {
  max-width: 100%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-clip: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 568px) {
  .auth {
    padding: 1.5rem !important;
  }
}

@media screen and (max-width: 370px) {
  .auth-close {
    right: 1rem;
    top: 1rem;
  }
}
